<header class="page-header">
  <div class="background-image-holder parallax-background">
    <!-- <img class="background-image" alt="Background Image" src="img/hero6.jpg"> -->
    <%= image_tag("lieux.jpg", alt: 'Background Image', class: "background-image") %>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span class="text-white alt-font">Learn</span>
        <h1 class="text-white">Events</h1>
        <p class="text-white lead">Create, learn and share.</p>
      </div>
    </div>
  </div>
</header>

<p id="notice"><%= notice %></p>
    <!-- <section class="pure-text-centered"> -->
<div class="container">
  <div class="row">
    <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
    <div class = "col-md-3">
      <div class="form-group chardin_box">
          <%= f.text_field(
            :search_query,
            # class: 'filterrific-periodically-observed form-control'
            class: 'form-control'
          ) %>
      </div>
    </div>
    <div class = "col-md-3">
      <div class="form-group chardin_box">
      <%= f.select(
        :with_category_id,
        @filterrific.select_options[:with_category_id],
        { include_blank: 'Toutes les catégories' }, { :class => 'form-control' }
      ) %>
      </div>
    </div>
    <div class = "col-md-2">
      <div class="form-group chardin_box">
          <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], {}, { :class => 'form-control' }) %>
      </div>
    </div>
    <div class = "col-md-2">
      <div class="form-group chardin_box">
        <%= link_to(
          'Reset filters',
          reset_filterrific_url, class: "btn btn-default"
        ) %>    
      </div>
    </div>
      
    <div class = "col-md-2">
      <div class="form-group chardin_box">
        <%= f.submit 'Filter', class: "btn btn-default" %>
      </div>
    </div>
  </div>
    
</div>

<div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>
</div>
<%= render(
  partial: 'events/list',
  locals: { events: @events }
) %>



