  <div class="container">
    <div class="row">

    <%= bootstrap_form_for(@event, layout: :horizontal, html: { multipart: true }, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title %>
  <%= f.text_area :description %>
  <%= f.file_field :image, class: "form-control" %>
  <%= f.date_select :date_begin %>
  <%= f.time_select :time_begin %>
  <%= f.date_select :date_end %>
  <%= f.time_select :time_end %>
  <%= f.form_group do %>
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Choisir une catégorie") %>
  <%= f.submit "Créer l'évènement" %>
  <% end %>
<% end %>
</div></div>