<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

  <div>
    <%= page_entries_info events %>
  </div>

  <br/>

  <section class="blog-masonry bg-muted">
        
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <ul class="blog-filters">
          <li data-filter="*" class="active"><span>All</span></li>

          <% @categories.each do |category| %>
            <li data-filter=".<%= category.name %>"><span><%= category.name.titleize %></span></li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>
  
  <div class="container">
    <div class="row">
      <div class="blog-masonry-container">
  <% @events.each do |event| %>

        <div class="col-md-3 col-sm-6 blog-masonry-item <%= Category.find(event.category_id).name %>">
          <div class="item-inner">
     <a href="blog-single.html"><%= image_tag event.image.url(:medium) %></a>
           <div class="post-title">
              <h2><%= link_to event.title,event_path(event) %></h2>
              <p><%= event.description %></p>

              <p><%= link_to Category.find(event.category_id).name, category_path(event.category_id) %></p>

              <div class="post-meta">
                <span class="sub alt-font"><span class="icon-calendar"> Du <%= event.date_begin.strftime("%x") %> au <%= event.date_end.strftime("%x") %></span>
                <span class="sub alt-font"><span class="icon-clock"> De <%= event.time_begin.strftime("%r") %> à <%= event.time_end.strftime("%r") %></span>
                <br/>
                <span class="sub alt-font">Crée par <%= link_to event.user.name, user_path(event.user) %></span>
                        <% if event.user == current_user %>

        <% end %>
              </div>
          <span class="icon-pencil"><%= link_to 'Edit', edit_event_path(event) %></span>
          <span class="icon-pencil"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                      </div>
          </div>
        </div>


  <% end %>

      </div>
    </div>
  </div>
</section>

<div class="center">
   <%= will_paginate @events, renderer: BootstrapPagination::Rails %>
</div>